<div id="indexContainer">
    <a role="button" id="" class="btn btn-primary btn-lg" href="/inventory">Chef
        <img href="img/chef.jpg">
    </a>
    <a role="button" class="btn btn-primary btn-lg" href="/ticket">Staff</a>
    <div>
        <img href="img/chef.jpg">
    </div>
</div>