<div id="index-container">
    <a role="button" id="management-button" class="btn" href="/inventory">
        <span>
            Management
        </span>
    </a>
    <a role="button" id="staff-button" class="btn" href="/ticket">
        <span>
            Staff
        </span>
    </a>
</div>