<form action="POST">
    <div class="form-group">
        <label for="product-name">Product Name</label>
        <input type="text" class="form-control" id="product-name" placeholder="Steak">
    </div>
    <div class="form-group">
        <label for="current-quantity">Current Quantity</label>
        <input type="text" class="form-control" id="current-quantity" placeholder="3">
    </div>
    <div class="form-group">
        <label for="weekly-quantity">Weekly Quantity</label>
        <input type="text" class="form-control" id="weekly-quantity" placeholder="6">
    </div>
    <submit class="btn btn-primary" id="item-submit">Add Item</submit>
</form>
