<div class="row">
    <i class="material-icons">add</i>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Current Quanity</th>
            <th scope="col">Quanity Needed For The Week</th>
        </tr>
    </thead>
    <tbody>
        {{#each inventory}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{productName}}</td>
            <td>{{currentQuanity}}</td>
            <td>{{weeklyQuanity}}</td>
        </tr>
        {{/each }}
    </tbody>
</table>