<div class="login">
    <input type="password" id ="replyNumber" min="0" data-bind="value:replyNumber">
    <div id="firstRow">
        <span class="loginNum">7</span>     
        <span class="loginNum">8</span>
        <span class="loginNum">9</span>
    </div>

    <div id="secondRow">
        <span class ="loginNum">4</span>     
        <span class ="loginNum">5</span>
        <span class ="loginNum">6</span>
    </div>
    <div id="thirdRow">
        <span class="loginNum">1</span>     
        <span class="loginNum">2</span>
        <span class="loginNum">3</span>
    </div>
    <div id="forthRow">
        <span></span>     
        <span class="loginNum">0</span>
        <span></span>
    </div>
</div>