<div class="row">
    {{!-- buttons --}}
    <div class="col-md-8">
        <button>{{availFood}}</button>

    </div>
    {{!-- order table  --}}
    <div class="col-md-4">
        <ul>
            <li>
                {{order}}
            </li>
        </ul>
    </div>

</div>