<div class="row">
    <div class="col-md-8">
        {{#each inventory}}
        <button id="ticketOrder">{{productName}}<hr>Left: {{currentQuantity}}</button>

        {{/each}}

    </div>

    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>