<div class="row">
    <div class="col-md-6">
        {{#each inventory}}
        <button class="ticket-item" data-id="{{id}}">{{productName}}</button>

        {{/each}}

    </div>

    <div class="col-md-6">
        <table class="table table-striped" id="ticket-table">
            <thead id="ticket-table-head">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>

            <tbody id="ticket-table-body">
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="delete-item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete-item-confirm" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>