<div class="row">
    <div class="col-md-6">
        {{#each inventory}}
        <button class="ticket-item" data-id="{{id}}">{{productName}}</button>

        {{/each}}

    </div>

    <div class="col-md-6">
        <table class="table table-striped" id="ticket-table">
            <thead id="ticket-table-head">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>

            <tbody id="ticket-table-body">
            </tbody>
        </table>
    </div>

</div>